#sidebar {
    z-index: 10;
}
#sidebar.collapsed {
    width: 80px;
}
#sidebar.collapsed ul a span:first-child {
    margin-right: 0;
}
#sidebar.collapsed ul a {
    text-align: center;
    padding: 10px;
}
#userDropdown:focus + #dropdownMenu, #dropdownMenu:hover {
    display: block;
}